torch~=2.2.1+cu121
numpy~=1.26.4
opencv-python~=4.9.0.80
pillow~=10.2.0
timm~=0.9.16
torchvision~=0.17.1+cu121
pip~=21.3.1
wheel~=0.37.1
Jinja2~=3.1.2
filelock~=3.13.1
setuptools~=60.2.0
packaging~=23.2
einops~=0.7.0
tqdm~=4.66.2
scipy~=1.12.0
pandas~=2.2.1
matplotlib~=3.8.3
scikit-image~=0.23.2